@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700&display=swap");
.book {
  margin-top: 50px;
  margin-bottom: 150px;
}

.book .book-wrapper .book-title {
  font-size: 48px;
  font-weight: 300;
  padding: 0;
  margin: 20px 0;
}

.book .book-wrapper .book-title-line {
  width: 100%;
  height: 3px;
  background-color: rgba(100, 100, 100, 0.2);
  margin-bottom: 30px;
}

.book .book-wrapper .book-title-line .line-color {
  width: 160px;
  height: 100%;
  background-color: sandybrown;
}

.book .book-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  position: relative;
  width: 1170px;
}

.book .book-list .slick-list {
  height: 350px;
}

.book .book-list .slick-list .book-item {
  position: relative;
  width: 270px;
  height: 340px;
  -webkit-box-shadow: 2px 2px 10px 1px rgba(0, 0, 0, 0.1);
          box-shadow: 2px 2px 10px 1px rgba(0, 0, 0, 0.1);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0 15px;
}

.book .book-list .slick-list .book-item .book-item-wrap {
  position: relative;
  padding: 20px;
  overflow: hidden;
}

.book .book-list .slick-list .book-item .book-item-wrap .book-item-new {
  position: absolute;
  background-image: -webkit-gradient(linear, left top, right top, from(#C9923C), to(#D9B177));
  background-image: linear-gradient(to right, #C9923C, #D9B177);
  width: 100%;
  height: 30px;
  line-height: 30px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  text-align: center;
  left: 97px;
  top: 6px;
  color: #fff;
  font-weight: 400;
  -webkit-box-shadow: 0 3px 4px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0 3px 4px 1px rgba(0, 0, 0, 0.2);
}

.book .book-list .slick-list .book-item .book-item-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 25px;
  height: 210px;
  overflow: hidden;
}

.book .book-list .slick-list .book-item .book-item-name {
  font-size: 14px;
  margin: 0;
}

.book .book-list .slick-list .book-item .book-item-price {
  font-size: 14px;
  margin: 0;
  color: #ee8446;
}

.book .book-list .slick-list .book-item .book-item-buy {
  position: absolute;
  bottom: -10px;
  right: 20px;
  height: 30px;
  border-radius: 20px;
  border: none;
  width: 80px;
  font-size: 12px;
}

.book .book-list .slick-list .book-item .book-item-buy.active {
  background-image: -webkit-gradient(linear, left top, right top, from(#C9923C), to(#D9B177));
  background-image: linear-gradient(to right, #C9923C, #D9B177);
  color: #fff;
}

.book .book-list .slick-dots {
  position: absolute;
  bottom: -70px;
  z-index: 1000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  left: 50%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
  padding: 16px 0;
  list-style: none;
}

.book .book-list .slick-dots li {
  max-height: 10px;
  margin: 0 0.25rem;
  background: transparent;
  border-radius: 50%;
  border: none;
}

.book .book-list .slick-dots li button {
  display: block;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  padding: 0;
  border: none;
  font-size: 0;
  outline: none;
  border: 1px solid #d6d6d6;
  background-color: transparent;
  color: transparent;
}

.book .book-list .slick-dots li.slick-active {
  background-color: #D9B177;
  border: none;
}

.book .book-list .slick-dots li.slick-active button {
  background-color: #D9B177;
  border: none;
}

.book .book-list .prev {
  position: absolute;
  top: 50%;
  left: 0px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 1000;
  font-size: 20px;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  background-color: #EBEBEB;
  color: #D9B177;
}

.book .book-list .next {
  position: absolute;
  top: 50%;
  right: 0px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 1000;
  font-size: 20px;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  background-color: #EBEBEB;
  color: #D9B177;
}

.slick-dots li.slick-active button {
  background-color: #FFF;
  border: none;
}

.slick-dots li.slick-active {
  background-color: #fff;
  border: none;
}

.slick-list .draggable {
  height: 300px;
  width: 200px;
  overflow: hidden;
}

.btn-pause-play {
  bottom: 20px;
  background-color: transparent;
  color: #CDA872;
  border: none;
  font-size: 20px;
  outline: none;
}

@media (max-width: 1170px) {
  .book {
    margin-bottom: 60px;
  }
  .book .book-wrapper .book-title {
    margin-left: 20px;
  }
  .book .book-list {
    height: 420px;
    overflow: hidden;
    width: 100%;
  }
  .book .book-list .slick-dots {
    position: absolute;
    left: calc(100vw/2);
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    bottom: 0;
  }
  .book .book-list .slick-list {
    position: absolute;
    width: 1170px;
    left: 0;
  }
}

@media (max-width: 768px) {
  .book {
    margin-bottom: 20px;
  }
}

.about-bot .about-slider-image {
  width: 100%;
}

.about-bot .about-slider-image .slider-item {
  width: 100%;
  height: 622px;
}

.about-bot .about-slider-image .slider-item img {
  width: 100%;
  height: 100%;
  max-height: 1300px;
}

.about-bot .about-slider-image .slick-dots {
  z-index: 1000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  bottom: 20px;
  left: 60%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
  padding: 16px 0;
  list-style: none;
  bottom: 40px;
}

.about-bot .bot-wrap-content {
  position: absolute;
  top: 0;
}

.about-bot .about-bot-dark {
  position: absolute;
  right: 0;
  top: 0;
  width: 50%;
  height: 100%;
  background-color: rgba(25, 25, 25, 0.6);
}

.about-bot .about-bot-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  width: 40%;
  float: right;
}

.about-bot .about-bot-content .content-title {
  font-size: 48px;
  font-weight: 300;
  margin: 0 0 25px 0;
  color: #FFF;
}

.about-bot .about-bot-content .content-title-line {
  width: 200%;
  height: 3px;
  background: rgba(200, 200, 200, 0.3);
  -webkit-transform: translateX(-12.5%);
          transform: translateX(-12.5%);
  margin-bottom: 30px;
}

.about-bot .about-bot-content .content-title-line .line-color {
  height: 100%;
  width: 160px;
  position: absolute;
  left: 12%;
  background-color: sandybrown;
}

.about-bot .about-bot-content .content-sup {
  margin: 0 0 35px 0;
  color: #fff;
  font-weight: 100;
}

.about-bot .about-bot-content .content-btn {
  background-image: -webkit-gradient(linear, left top, right top, from(#C9923C), to(#D9B177));
  background-image: linear-gradient(to right, #C9923C, #D9B177);
  color: #fff;
}

.about-bot .prev {
  position: absolute;
  top: 50%;
  left: 10px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 1000;
  font-size: 20px;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  background-color: #EBEBEB;
}

.about-bot .next {
  position: absolute;
  top: 50%;
  right: 10px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 1000;
  font-size: 20px;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  background-color: #EBEBEB;
}

/* about */
.wrapper-about {
  margin-bottom: 50px;
}

.about-top {
  position: relative;
  height: 620px;
}

.about-top-img {
  width: 50%;
  height: 100%;
  float: right;
  overflow: hidden;
}

.about-top img {
  width: 100%;
  height: 100%;
}

.about-top .top-wrap-content {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.about-top .about-top-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  width: 40%;
}

.about-top-content .content-title {
  font-size: 48px;
  font-weight: 300;
  margin: 0 0 25px 0;
}

.about-top-content .content-title-line {
  width: 200%;
  height: 3px;
  background: rgba(50, 50, 50, 0.2);
  -webkit-transform: translateX(-45%);
          transform: translateX(-45%);
  margin-bottom: 30px;
}

.about-top-content .content-title-line .line-color {
  height: 100%;
  width: 160px;
  position: absolute;
  right: 38%;
  background-color: sandybrown;
}

.about-top-content .content-sup {
  font-size: 24px;
  margin: 0 0 25px 0;
}

.about-top-content .content-sup-child {
  margin: 0 0 35px 0;
}

.about-top-content .content-btn {
  background-color: #404040;
  color: springgreen;
}

.about-bot {
  position: relative;
  overflow: hidden;
  height: 620px;
  background-size: cover;
}

.bot-wrap-content {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

@media (max-width: 768px) {
  .about-top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: auto;
  }
  .about-top .about-top-img {
    width: 100%;
    height: 100%;
    float: right;
    overflow: inherit;
    margin-bottom: 20px;
  }
  .about-top .top-wrap-content {
    position: static;
    -webkit-transform: none;
            transform: none;
    margin-bottom: 20px;
    padding: 0 10px;
  }
  .about-top .top-wrap-content .about-top-content {
    width: 100%;
  }
  .about-bot {
    height: 450px;
  }
  .about-bot .about-bot-dark {
    width: 100%;
  }
  .about-bot .bot-wrap-content .about-bot-content {
    width: 100%;
    padding: 0 6px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .about-bot .bot-wrap-content .about-bot-content .content-title {
    font-size: 33px;
  }
  .about-bot .about-slider-image .slider-item {
    width: auto;
    height: 450px;
  }
  .about-bot .about-slider-image .slider-item img {
    height: 100%;
    width: auto;
  }
  .about-bot .about-slider-image .slick-dots {
    left: 50%;
  }
}

.course {
  margin-bottom: 100px;
}

.course .course-category {
  height: 200px;
  background-color: #404040;
  margin-bottom: 65px;
}

.course .course-category .category-wapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.course .course-category .category-wapper .category-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.course .course-category .category-wapper .category-item img {
  margin-bottom: 20px;
}

.course .course-category .category-wapper .category-item h3 {
  margin: 0;
  color: #fff;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 24px;
}

.course .course-category .category-wapper .category-item:hover {
  background-color: #3A3836;
}

.course .course-category .category-wapper .category-item.active {
  background-color: #333333;
}

.course .course-category .category-wapper .category-item.active::before {
  content: '';
  position: absolute;
  top: 0;
  height: 10px;
  width: 100%;
  background-image: -webkit-gradient(linear, left top, right top, from(#C9923C), to(#D9B177));
  background-image: linear-gradient(to right, #C9923C, #D9B177);
}

.course .course-category .category-wapper .category-item.active::after {
  content: '';
  position: absolute;
  bottom: 0;
  border: 20px solid transparent;
  border-bottom: 20px solid #fff;
}

.course .course-wrapper .course-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.course .course-wrapper .course-header h2 {
  font-size: 48px;
  font-weight: 300;
  padding: 0;
  margin: 0;
}

.course .course-wrapper .course-header .line-header-section.sp {
  display: none;
}

.course .course-wrapper .course-header .options-btn {
  text-align: center;
  padding: 15px 12px;
  border: none;
  text-transform: uppercase;
  font-size: 14px;
  margin-left: 10px;
  background-color: transparent;
  color: #898989;
  font-weight: 600;
}

.course .course-wrapper .course-header .options-btn i {
  padding-right: 8px;
}

.course .course-wrapper .course-header .options-btn.active {
  border-radius: 20px;
  background-image: -webkit-gradient(linear, left top, right top, from(#C9923C), to(#D9B177));
  background-image: linear-gradient(to right, #C9923C, #D9B177);
  color: #fff;
}

.course .course-wrapper .course-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 1200px;
  margin-left: -15px;
}

.course .course-wrapper .course-list .course-item {
  width: 270px;
  border: 1px solid #E1E1E1;
  margin-bottom: 30px;
  margin: 0 14px;
}

.course .course-wrapper .course-list .course-item .course-item-describe {
  padding: 20px 15px;
}

.course .course-wrapper .course-list .course-item .course-item-describe .course-rating-stars {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 0 10px 0;
}

.course .course-wrapper .course-list .course-item .course-item-describe .course-rating-stars .start {
  color: #E1E1E1;
}

.course .course-wrapper .course-list .course-item .course-item-describe .course-rating-stars .start.active {
  color: #DAB279;
}

.course .course-wrapper .course-list .course-item .course-item-describe .course-item-name {
  font-size: 16px;
  color: #999999;
  text-transform: capitalize;
  margin: 0 0 10px 0;
}

.course .course-wrapper .course-list .course-item .course-item-describe .course-item-price {
  font-size: 15px;
  font-weight: 300;
}

.course .course-wrapper .course-list .sourse-item-detail {
  border-top: 1px solid #E1E1E1;
}

.course .course-wrapper .course-list .sourse-item-detail .wrap-item-detail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px 15px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.course .course-wrapper .course-list .sourse-item-detail .wrap-item-detail .author {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.course .course-wrapper .course-list .sourse-item-detail .wrap-item-detail .author img {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  margin-right: 7px;
}

.course .course-wrapper .course-list .sourse-item-detail .wrap-item-detail .author .author-name {
  margin: 0;
}

.course .course-wrapper .course-list .sourse-item-detail .wrap-item-detail .care {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
  color: #999999;
}

.course .course-wrapper .course-list .sourse-item-detail .wrap-item-detail .care i {
  margin-right: 2px;
}

.course .course-wrapper .course-list .sourse-item-detail .wrap-item-detail .care .heart {
  margin-left: 7px;
}

.course .course-wrapper .see-more {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.course .course-wrapper .see-more .line-bot {
  width: 90%;
  border: 0;
  border-top: 1px solid #dad8d8;
}

.course .course-wrapper .see-more span {
  margin-left: 15px;
}

.course .course-wrapper .see-more span i {
  color: #DAB279;
}

@media (max-width: 1170px) {
  .course .course-wrapper .course-list {
    width: 100vw;
  }
}

@media (max-width: 576px) {
  .course .course-category {
    height: 400px;
  }
  .course .course-category .category-wapper {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    height: 400px;
  }
  .course .course-category .category-wapper .category-item {
    width: 50%;
    height: 200px;
  }
  .course .course-category .category-wapper .category-item.active::after {
    border: none;
    border-bottom: none;
  }
  .course .course-wrapper .course-header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .course .course-wrapper .course-header .course-title {
    font-size: 40px;
    margin-left: 20px;
  }
  .course .course-wrapper .course-header .line-header-section.sp {
    display: inline-block;
  }
  .course .course-wrapper .course-header .course-header-options {
    margin-bottom: 20px;
  }
  .course .course-wrapper .line-header-section.pc {
    display: none;
  }
  .course .course-wrapper .course-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left: 0;
    -ms-flex-line-pack: center;
        align-content: center;
    width: 100vw;
  }
  .course .course-wrapper .course-list .course-item {
    margin-bottom: 20px;
  }
  .course .course-wrapper .see-more .line-bot {
    width: 55%;
  }
}

.line-header-section {
  width: 100%;
  height: 5px;
  background-color: rgba(100, 100, 100, 0.2);
  margin: 30px 0;
}

.line-header-section .line-color {
  width: 160px;
  height: 100%;
  background-color: sandybrown;
}

.line-color {
  width: 160px;
  height: 100%;
  background-color: sandybrown;
}

.container {
  width: 1170px;
  margin: 0 auto;
  height: 100%;
}

.btn {
  width: 200px;
  text-align: center;
  padding: 15px 0;
  border-radius: 20px;
  border: none;
  text-transform: uppercase;
  font-size: 14px;
}

@media (max-width: 1170px) {
  .container {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .line-header-section {
    height: 3px;
    width: 100vw !important;
    left: -10px;
    -webkit-transform: none !important;
            transform: none !important;
    position: relative;
  }
  .line-header-section .line-color {
    left: 20px !important;
    position: absolute;
  }
  .content-title-line {
    width: 100vw !important;
    left: -10px;
    -webkit-transform: none !important;
            transform: none !important;
    position: relative;
  }
  .content-title-line .line-color {
    left: 20px !important;
  }
  .book-title-line {
    height: 3px;
    width: 100vw !important;
    left: -10px;
    -webkit-transform: none !important;
            transform: none !important;
    position: relative;
  }
  .book-title-line .line-color {
    left: 20px !important;
    position: absolute;
  }
}

.event {
  height: 620px;
  position: relative;
  background-color: #fff;
  margin-bottom: 100px;
}

.event .event-header {
  display: none;
}

.event .event-header .event-title {
  margin-left: 70px;
  font-size: 48px;
  font-weight: 300;
  margin-bottom: 25px;
}

.event .event-header .event-title-line {
  width: 100%;
  height: 5px;
  background-color: #E1E1E1;
  margin-bottom: 35px;
}

.event .event-header .event-title-line .line-color {
  margin-left: 70px;
}

.event .event-registation {
  position: absolute;
  left: 0;
  width: 50%;
  height: 100%;
  overflow: hidden;
}

.event .event-registation img {
  width: 100%;
  height: 100%;
}

.event .event-registation .registation-wrap {
  position: absolute;
  top: 55%;
  right: 60px;
  color: #fff;
  width: 350px;
}

.event .event-registation .registation-wrap .registation-date {
  color: #DAB279;
  font-weight: 300;
  margin: 0 0 20px 0;
}

.event .event-registation .registation-wrap .registation-content {
  font-size: 24px;
  font-weight: 300;
  margin: 0 0 30px 0;
}

.event .event-registation .registation-wrap .registation-btn {
  padding: 15px 20px;
  border-radius: 20px;
  background-image: -webkit-gradient(linear, left top, right top, from(#C9923C), to(#D9B177));
  background-image: linear-gradient(to right, #C9923C, #D9B177);
  border: none;
  color: #fff;
  font-weight: 300;
}

.event .event-container .event-right {
  width: 50%;
  float: right;
}

.event .event-container .event-right .event-title {
  margin-left: 70px;
  font-size: 48px;
  font-weight: 300;
  margin-bottom: 25px;
}

.event .event-container .event-right .event-title-line {
  width: 100%;
  height: 5px;
  background-color: #E1E1E1;
  margin-bottom: 35px;
}

.event .event-container .event-right .event-title-line .line-color {
  margin-left: 70px;
}

.event .event-container .event-right .event-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 70px;
  padding-bottom: 30px;
  border-bottom: 1px solid #d8d8d8;
  margin-bottom: 25px;
}

.event .event-container .event-right .event-item .event-item-time {
  margin-right: 17px;
  height: 75px;
  width: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #F8F8F8;
}

.event .event-container .event-right .event-item .event-item-time span {
  padding: 0 20px;
  font-size: 24px;
  font-weight: 300;
}

.event .event-container .event-right .event-item .event-item-time .time-date {
  color: #C9923C;
}

.event .event-container .event-right .event-item .event-item-time .time-month {
  color: #9b9a9a;
}

.event .event-container .event-right .event-item .event-item-time hr {
  margin: 0;
  width: 80%;
  border: none;
  border-bottom: 1px solid #dbdbdb;
}

.event .event-container .event-right .event-item .event-item-description {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.event .event-container .event-right .event-item .event-item-description .descriptiont-start {
  margin-bottom: 15px;
}

.event .event-container .event-right .event-item .event-item-description .descriptiont-start .btn-free {
  width: 70px;
  height: 25px;
  background-image: -webkit-gradient(linear, left top, right top, from(#C9923C), to(#D9B177));
  background-image: linear-gradient(to right, #C9923C, #D9B177);
  border: none;
  color: #fff;
  font-weight: 400;
  margin-right: 15px;
}

.event .event-container .event-right .event-item .event-item-description .descriptiont-start span {
  font-size: 14px;
  color: #9b9a9a;
  font-style: italic;
}

.event .event-container .event-right .event-item .event-item-description .description-title {
  margin-top: 0;
  margin-bottom: 15px;
  font-size: 20px;
  font-weight: 400;
}

.event .event-container .event-right .event-item .event-item-description .description-content {
  margin-top: 0;
  margin-bottom: 15px;
  font-size: 14px;
  color: #9b9a9a;
}

.event .event-container .event-right .event-item .event-item-description .btn-join {
  margin-top: 0;
  font-size: 17px;
  font-weight: 800;
  text-transform: uppercase;
  text-decoration: none;
  color: #000;
}

.event .event-container .event-right .event-item .event-item-description .btn-join i {
  color: #C9923C;
}

.event .event-container .event-right .event-item.bot {
  border: none;
}

@media (max-width: 1100px) {
  .event {
    height: 645px;
  }
}

@media (max-width: 992px) {
  .event {
    height: 700px;
  }
  .event .event-registation img {
    width: auto;
    height: 100%;
  }
  .event .event-registation .registation-wrap {
    right: 0px;
  }
}

@media (max-width: 768px) {
  .event {
    height: auto;
    position: static;
  }
  .event .event-header {
    display: inline-block;
    width: 100%;
  }
  .event .event-header .event-title {
    margin-left: 20px;
  }
  .event .event-header .event-title-line .line-color {
    margin-left: 20px;
  }
  .event .event-registation {
    width: 100%;
    height: 400px;
    position: inherit;
    margin-bottom: 20px;
    position: relative;
  }
  .event .event-registation img {
    width: 100%;
    height: 100%;
  }
  .event .event-registation .registation-wrap {
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    left: 30px;
  }
  .event .event-container {
    width: 100%;
  }
  .event .event-container .event-right {
    float: inherit;
    width: 100%;
  }
  .event .event-container .event-right .event-title, .event .event-container .event-right .event-title-line {
    display: none;
  }
  .event .event-container .event-right .event-item {
    margin: 5px 10px;
    margin-left: 10px;
  }
}

.news {
  margin-bottom: 100px;
}

.news .news-wrapper .news-title {
  font-size: 48px;
  font-weight: 300;
  margin-bottom: 30px;
}

.news .news-wrapper .news-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.news .news-wrapper .news-list .news-item {
  margin: 0 10px;
  width: 277px;
}

.news .news-wrapper .news-list .news-item:first-child {
  margin-left: 0;
}

.news .news-wrapper .news-list .news-item:last-child {
  margin-right: 0;
}

.news .news-wrapper .news-list .news-item img {
  width: 100%;
  height: 170px;
  margin-bottom: 15px;
}

.news .news-wrapper .news-list .news-item .item-wrap-bot {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.news .news-wrapper .news-list .news-item .item-wrap-bot .item-time {
  margin-right: 17px;
  height: 75px;
  width: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #ffffff;
}

.news .news-wrapper .news-list .news-item .item-wrap-bot .item-time span {
  padding: 0 20px;
  font-size: 24px;
  font-weight: 300;
}

.news .news-wrapper .news-list .news-item .item-wrap-bot .item-time .time-date {
  color: #C9923C;
}

.news .news-wrapper .news-list .news-item .item-wrap-bot .item-time .time-month {
  color: #9b9a9a;
}

.news .news-wrapper .news-list .news-item .item-wrap-bot .item-time hr {
  margin: 0;
  width: 80%;
  border: none;
  border-bottom: 1px solid #dbdbdb;
}

.news .news-wrapper .news-list .news-item .item-wrap-bot .item-description {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.news .news-wrapper .news-list .news-item .item-wrap-bot .item-description .descriptiont-start {
  margin-bottom: 15px;
}

.news .news-wrapper .news-list .news-item .item-wrap-bot .item-description .descriptiont-start .btn-free {
  width: 70px;
  height: 25px;
  background-image: -webkit-gradient(linear, left top, right top, from(#C9923C), to(#D9B177));
  background-image: linear-gradient(to right, #C9923C, #D9B177);
  border: none;
  color: #fff;
  font-weight: 400;
  margin-right: 15px;
}

.news .news-wrapper .news-list .news-item .item-wrap-bot .item-description .descriptiont-start span {
  font-size: 14px;
  color: #9b9a9a;
  font-style: italic;
}

.news .news-wrapper .news-list .news-item .item-wrap-bot .item-description .description-title {
  margin-top: 0;
  margin-bottom: 15px;
  font-size: 20px;
  font-weight: 400;
}

.news .news-wrapper .news-list .news-item .item-wrap-bot .item-description .description-content {
  margin-top: 0;
  margin-bottom: 15px;
  font-size: 14px;
  color: #9b9a9a;
}

.news .news-wrapper .news-list .news-item .item-wrap-bot .item-description .btn-join {
  margin-top: 0;
  font-size: 15px;
  font-weight: 700;
  text-decoration: none;
  color: #C9923C;
}

@media (max-width: 576px) {
  .news .news-wrapper .news-list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .news .news-wrapper .news-list .news-item {
    width: 100%;
    margin: 10px 10px;
  }
  .news .news-wrapper .news-list .news-item img {
    width: 100%;
    height: 260px;
  }
  .news .news-wrapper .news-list .news-item:first-child {
    margin: 10px 10px;
  }
  .news .news-wrapper .news-list .news-item:last-child {
    margin: 10px 10px;
  }
}

.feel {
  height: 560px;
  position: relative;
}

.feel .feel-slider {
  z-index: 0;
}

.feel .feel-container {
  position: absolute;
  z-index: 9999;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.feel .feel-container .prev {
  position: absolute;
  left: -20px;
  top: 48%;
  color: #D9B177;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #EBEBEB;
  text-align: center;
  z-index: 99999;
}

.feel .feel-container .prev i {
  font-size: 30px;
  line-height: 40px;
}

.feel .feel-container .next {
  position: absolute;
  right: -20px;
  top: 48%;
  color: #D9B177;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #EBEBEB;
  text-align: center;
  z-index: 99999;
}

.feel .feel-container .next i {
  font-size: 30px;
  line-height: 40px;
}

.feel .feel-container .feel-wrapper {
  text-align: center;
  z-index: 9999;
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 100%;
}

.feel .feel-container .feel-wrapper .feel-title {
  font-size: 48px;
  font-weight: 300;
  margin-bottom: 25px;
  margin-top: 0;
  color: #fff;
}

.feel .feel-container .feel-wrapper .line-header-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 0;
  height: 3px;
  margin-bottom: 35px;
}

.feel .feel-container .feel-wrapper .line-header-section .line-color {
  background-color: #fff;
}

.feel .feel-container .feel-wrapper .feel-description {
  font-weight: 200;
  width: 70%;
}

.feel .feel-container .feel-wrapper .feel-description .feel-content {
  margin-top: 0;
  margin-bottom: 30px;
  font-size: 24px;
  color: #D9B177;
}

.feel .feel-container .feel-wrapper .feel-description .feel-content-sub {
  margin-top: 0;
  margin-bottom: 35px;
  font-size: 20px;
  color: #fff;
}

.feel .feel-container .feel-wrapper .feel-description .feel-author {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 24px;
  color: #fff;
  font-weight: 300;
}

.feel .feel-container .feel-wrapper .feel-description .feel-author-des {
  margin-top: 0;
  margin-bottom: 45px;
  font-size: 18px;
  color: #D9B177;
  font-weight: 300;
}

.feel .feel-container .feel-wrapper .slick-dots {
  z-index: 1000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  left: 50%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
  padding: 16px 0;
  list-style: none;
}

.feel .feel-container .feel-wrapper .slick-dots li {
  max-height: 10px;
  margin: 0 0.25rem;
  background: transparent;
  border-radius: 50%;
  border: none;
}

.feel .feel-container .feel-wrapper .slick-dots li button {
  display: block;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  padding: 0;
  border: none;
  font-size: 0;
  outline: none;
  border: 1px solid #d6d6d6;
  background-color: transparent;
  color: transparent;
}

.feel .feel-container .feel-wrapper .slick-dots li.slick-active {
  background-color: #D9B177;
  border: none;
}

.feel .feel-container .feel-wrapper .slick-dots li.slick-active button {
  background-color: #D9B177;
  border: none;
}

@media (max-width: 576px) {
  .feel {
    height: 650px;
  }
  .feel .feel-slider .slider-item img {
    height: 650px;
  }
  .feel .feel-container .feel-wrapper .feel-title {
    font-size: 38px;
    margin-bottom: 15px;
  }
  .feel .feel-container .feel-wrapper .line-header-section {
    margin-bottom: 15px;
  }
  .feel .feel-container .feel-wrapper .feel-description .feel-content {
    margin-bottom: 15px;
  }
  .feel .feel-container .feel-wrapper .feel-description .feel-content-sub {
    margin-bottom: 15px;
  }
  .feel .feel-container .feel-wrapper .feel-description .feel-author-des {
    margin-bottom: 15px;
  }
}

.footer {
  background-color: #fff;
  position: relative;
  height: 450px;
  padding-top: 35px;
}

.footer .img-footer {
  width: 40%;
  height: 100%;
}

.footer .footer-container {
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.footer .footer-container .footer-wrapper {
  width: 65%;
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.footer .footer-container .footer-wrapper .company-description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 30px;
  border-bottom: 1px solid #E1E1E1;
}

.footer .footer-container .footer-wrapper .company-description h5 {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 20px;
  margin-top: 0;
}

.footer .footer-container .footer-wrapper .company-description p {
  font-size: 14px;
  font-weight: 300;
  margin-top: 0;
  margin-bottom: 0;
}

.footer .footer-container .footer-wrapper .company-description .company-address {
  margin-right: 30px;
}

.footer .footer-container .footer-wrapper .company-description .working-time {
  margin-right: 30px;
}

.footer .footer-container .footer-wrapper .contact {
  margin-top: 0;
  padding-top: 20px;
  padding-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid #E1E1E1;
}

.footer .footer-container .footer-wrapper .contact h4 {
  margin-top: 0;
  font-size: 26px;
  font-weight: 500;
  margin: 0;
}

.footer .footer-container .footer-wrapper .contact .list-btn .btn {
  padding: 12px 25px;
  width: auto;
  border: none;
  border-radius: 20px;
  margin-bottom: 5px;
  color: #fff;
}

.footer .footer-container .footer-wrapper .contact .list-btn .btn i {
  margin-right: 5px;
}

.footer .footer-container .footer-wrapper .contact .list-btn .btn-fb {
  background-color: #4C6EA9;
}

.footer .footer-container .footer-wrapper .contact .list-btn .btn-gg {
  background-color: #FF5838;
}

.footer .footer-container .footer-wrapper .contact .list-btn .btn-yt {
  background-color: #DC3833;
}

.footer .footer-container .footer-wrapper .design {
  margin-top: 20px;
  margin-bottom: 0;
}

@media (max-width: 576px) {
  .footer .footer-container .footer-wrapper {
    width: 100%;
    padding: 10px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .footer .footer-container .footer-wrapper .company-description {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .footer .footer-container .footer-wrapper .company-description h5 {
    margin-bottom: 8px;
  }
  .footer .footer-container .footer-wrapper .company-description .company-address {
    margin-bottom: 20px;
  }
  .footer .footer-container .footer-wrapper .contact {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .footer .footer-container .footer-wrapper .contact h4 {
    margin-bottom: 15px;
  }
}

.wrapper-home {
  width: 100%;
  height: 100vh;
  background: url("../img/home_main.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100px;
  -webkit-box-shadow: 0 -6px 15px 18px rgba(0, 0, 0, 0.3);
          box-shadow: 0 -6px 15px 18px rgba(0, 0, 0, 0.3);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #404040;
  z-index: 10000;
  -webkit-transition: .7s;
  transition: .7s;
}

.nav-wrap {
  width: 1170px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo {
  letter-spacing: 1px;
  color: #fff;
}

.menu {
  padding: 0;
  -webkit-transition: .7s;
  transition: .7s;
}

.menu ul li {
  list-style: none;
  display: inline-block;
  padding: 0 20px;
}

.menu ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 16px;
  font-weight: lighter;
  text-transform: uppercase;
}

.icon-search {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: seagreen;
}

/* home */
.home {
  width: 1170px;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  text-transform: uppercase;
}

.home .home-introduce {
  color: #fff;
  font-size: 60px;
  margin: 0;
  font-weight: 500;
}

.home .home-introduce-child {
  color: #fff;
  font-size: 60px;
  margin: 0;
  font-weight: 100;
}

.home .home-btn-down span {
  color: #fff;
  -webkit-transform: rotate(90deg) translateY(-163%);
          transform: rotate(90deg) translateY(-163%);
  margin-top: 50px;
  right: 0;
  position: absolute;
  color: #fff;
  background: url("/img/btn-down.png") no-repeat;
}

.home .home-btn-down img {
  margin-top: 100px;
  position: absolute;
  right: 0;
}

.menu-toggler {
  position: absolute;
  right: 25px;
  width: 35px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  cursor: pointer;
  z-index: 1500;
  -webkit-transition: -webkit-transform 650ms ease-out;
  transition: -webkit-transform 650ms ease-out;
  transition: transform 650ms ease-out;
  transition: transform 650ms ease-out, -webkit-transform 650ms ease-out;
  display: none;
}

.menu-toggler.open {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.bar {
  background: -webkit-gradient(linear, left top, right top, from(#665d15), to(#a2afab));
  background: linear-gradient(to right, #665d15, #a2afab);
  width: 100%;
  height: 4px;
  border-radius: 3rem;
}

.bar.half {
  width: 50%;
}

.bar.start {
  -webkit-transform-origin: right;
          transform-origin: right;
  -webkit-transition: -webkit-transform 650ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
  transition: -webkit-transform 650ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
  transition: transform 650ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
  transition: transform 650ms cubic-bezier(0.54, -0.81, 0.57, 0.57), -webkit-transform 650ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
}

.open .bar.start {
  -webkit-transform: rotate(-450deg) translateX(5px);
          transform: rotate(-450deg) translateX(5px);
}

.bar.end {
  -ms-flex-item-align: end;
      align-self: flex-end;
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transition: -webkit-transform 650ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
  transition: -webkit-transform 650ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
  transition: transform 650ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
  transition: transform 650ms cubic-bezier(0.54, -0.81, 0.57, 0.57), -webkit-transform 650ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
}

.open .bar.end {
  -webkit-transform: rotate(-450deg) translateX(-7px);
          transform: rotate(-450deg) translateX(-7px);
}

@media (max-width: 1170px) {
  .home {
    width: 100%;
  }
}

@media (max-width: 992px) {
  .menu {
    display: none;
  }
  .menu-toggler {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .icon-search {
    font-size: 30px;
    position: absolute;
    right: 100px;
  }
  .menu.open {
    display: block;
  }
  .menu .nav-list {
    display: block;
    text-align: center;
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 100px;
    margin: 0;
    left: 0;
    padding: 33px 0;
    /* box-sizing: border-box; */
    background-color: rgba(59, 59, 59, 0.8);
  }
  .menu .nav-list li {
    display: block;
    padding: 10px 0;
  }
  .menu .nav-list li:hover, .menu .nav-list li:active {
    background-color: rgba(223, 209, 209, 0.7);
  }
}

.menu.open {
  -webkit-transition: 4s;
  transition: 4s;
}

@media (max-height: 768px) {
  .wrapper-home {
    height: 850px;
  }
  .wrapper-home .home {
    top: 70%;
    height: 100%;
  }
  .icon-search {
    font-size: 25px;
    position: absolute;
    right: 85px;
  }
}

@media (max-width: 576px) {
  .wrapper-home {
    height: 850px;
  }
  .wrapper-home .home {
    top: 70%;
    height: 100%;
  }
  .wrapper-home .home .home-introduce {
    font-size: 55px;
  }
  .wrapper-home .home .home-introduce-child {
    font-size: 55px;
  }
  .wrapper-home .home .home-btn-down {
    position: relative;
    top: -85px;
  }
  .icon-search {
    font-size: 25px;
    position: absolute;
    right: 85px;
  }
}

html, body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto';
}

body {
  background-color: #F8F8F8;
}

.slick-dots li {
  max-height: 10px;
  margin: 0 0.25rem;
  background: transparent;
  border-radius: 50%;
  border: none;
}

.slick-dots li button {
  display: block;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  padding: 0;
  border: none;
  font-size: 0;
  outline: none;
  border: 1px solid #FFF;
  background-color: transparent;
  color: transparent;
}

.slick-dots li.slick-active button {
  background-color: #FFF;
  border: none;
}

.slick-dots li.slick-active {
  background-color: #fff;
  border: none;
}

.slick-list .draggable {
  height: 300px;
  width: 200px;
  overflow: hidden;
}

.btn-pause-play {
  bottom: 20px;
  background-color: transparent;
  color: #CDA872;
  border: none;
  font-size: 20px;
  outline: none;
}
/*# sourceMappingURL=main.css.map */